[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mne = "*"
git-lfs = "*"
pylsl = "*"
scikit-learn = "*"
mne-realtime = {file = "https://api.github.com/repos/mne-tools/mne-realtime/zipball/main"}
pandas = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.11"
